*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #960000;
  --purple: #610a55;
  --blue: #205f7f;

  --bright-purple: rgb(170, 50, 220);
  --checkbox-color: #2eaadc;
  --gray-800: #1f1f1f;
}

body {
  background-color: #000;
  color: white;
  font-family: Inter, Arial, sans-serif;
  min-height: 100vh;
  padding-top: 0.5rem;
}

#search {
  width: 50%;
  max-width: 500px;
  margin: 0 12px;
  background-color: var(--gray-800);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.1em;
}

#search:focus {
  outline: 1px ridge var(--bright-purple);
}

.movieCard {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: #111;
}

.movie__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  padding: 0.2rem 1rem;
}

.title:hover {
  background-color: #292929;
}

.description {
  color: whitesmoke;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.4em;
}

.rating {
  display: flex;
  align-items: center;
  text-shadow: 0 0 12px gold, 0 0 3px gold;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  width: fit-content;
}

.star {
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

.full-star {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="gold" d="M12 .288l3.09 6.258L22 7.865l-5 4.867 1.18 6.875L12 17.222l-6.18 3.385L7 12.732l-5-4.867L8.91 6.546z"/></svg>');
}

.half-star {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="gold" d="M12 .288l-3.09 6.258L2 7.865l5 4.867v8.26l5-2.738V0z"/><path fill="grey" d="M12 .288l3.09 6.258L22 7.865l-5 4.867v8.26l-5-2.738V0z"/></svg>');
}

.empty-star {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="grey" d="M12 .288l3.09 6.258L22 7.865l-5 4.867 1.18 6.875L12 17.222l-6.18 3.385L7 12.732l-5-4.867L8.91 6.546z"/></svg>');
}

.tag {
  display: inline-block;
  background-color: grey;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.2em 0.8em;
  margin: 2px;
  border-radius: 5px;
}

.cast .tag {
  background-color: var(--red);
}

.production .tag {
  background-color: var(--purple);
}

.genre .tag {
  background-color: var(--blue);
}

/* container */
label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
/* hide default checkbox  */
label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* custom checkbox */
label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #222;
  transition: 0.3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;
  width: 30%;
  height: 65%;
  /* check icon */
  left: 6px;
  top: 2px;

  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label:hover span {
  background-color: #333;
}
/**** Here's the trick ***/
label input:checked ~ span {
  background-color: var(--checkbox-color);
}
label input:checked ~ span:after {
  display: block;
}

.container {
  display: flex;
}

.text-container {
  width: 85%;
}

.img-container {
  width: 15%;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
